.Photo{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 400px;
    justify-content: space-around;
}

.PhotoTitle{
    display: flex;
    justify-content: center;
}

.Pic{
    display: flex;
    justify-content: space-around;
}

.Pi{
    width:200px;
    height:150px;
}

.Name{
    display: flex;
    justify-content: space-around;
}